.cartRight {
  color: #999;
  letter-spacing: 1px;

  .cartRight-topConatiner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #333;
    padding: 20px;



    .cartRight-topConatiner-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 12px;
      margin: 20px 0;

      .cartRight-topConatiner-info-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .cartRight-topConatiner-info-discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .cartRight-topConatiner-info-delivery-charges {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cartRight-topConatiner-info-delivery-charges-right-num-cross {
          text-decoration: line-through;
        }
      }
    }

    .cartRight-topConatiner-total-amount {
      // border-top: 1px solid #888;
      // border-bottom: 1px solid #888;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
    }

    .cartRight-topConatiner-saved {
      font-weight: 200;

      .cartRight-topConatiner-saved-text-span {
        color: yellowgreengreengreengreengreen;
        font-weight: 500;
      }
    }


  }

  .cartRight-bottomConatiner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
  }

}