@import '../../styles/Responsive.scss';


.prodactLeft {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .prodactLeft-left {
    width: 20%;
    // background: greenyellowgreen;
    overflow: hidden;

    .prodactLeft-left-img {
      max-width: 100%;
    }
  }

  .prodactLeft-right {
    width: 80%;
    display: flex;
    flex-direction: column;

    .prodactLeft-right-top {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;


      .prodactLeft-right-top-fav-icon {
        font-size: 22px;
        color: yellowgreen;

      }
    }

    .prodactLeft-right-center {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .prodactLeft-right-center-img {
        width: 100%;
      }
    }

    .prodactLeft-right-bottom {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;



      .prodactLeft-right-bottom-addCart {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        outline: 0;
        border: 0;
        font-weight: 600;
        background: yellow;
        height: 50px;
        font-size: 18px;

        @include sm {
          width: 100%;
          font-size: 10px;
          height: 20px;
        }

        .prodactLeft-right-bottom-addCart-icon {
          font-size: 22px;

          @include sm {
            font-size: 14px;

          }
        }
      }

      .prodactLeft-right-bottom-buyNow {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        outline: 0;
        border: 0;
        font-weight: 600;
        background-color: yellowgreen;
        height: 50px;
        font-size: 18px;

        @include sm {
          width: 100%;
          font-size: 10px;
          height: 20px;
        }


        .prodactLeft-right-bottom-buyNow-icon {
          font-size: 22px;

          @include sm {
            font-size: 14px;

          }
        }
      }
    }
  }
}