@import '../../styles/Responsive.scss';




.product-pop-up {
  width: 400px;
  height: max-content;
  background: #222;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 10px;
  color: #888;

  @include sm {
    width: 350px;
  }


  .product-pop-up-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;

    .product-pop-up-left-top {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .product-pop-up-left-top-brand {
        font-size: 10px;
        letter-spacing: 0.5px;
      }

      .product-pop-up-left-top-ratings {
        font-size: 10px;
        display: flex;
        gap: 5px;
        letter-spacing: 0.5px;
        align-items: center;

        .product-pop-up-left-top-starts {
          display: flex;
          align-items: center;
          // justify-content: center;
          gap: 5px;
          background: yellowgreen;
          color: #000;
          font-weight: bolder;
          border-radius: 3px;
          padding-left: 5px;
          height: 15px;
          width: 35px;

          .product-pop-up-left-top-start {
            display: flex;
            align-items: center;
          }

          .product-pop-up-left-top-start-icon {
            display: flex;
            align-items: center;
            height: 10px;
            width: 10px;
          }
        }
      }
    }

    .product-pop-up-left-bottom {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-size: 10px;
    }
  }

  .product-pop-up-right {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-pop-up-right-top {
      display: flex;
      flex-direction: column;
      gap: 5px;


      .product-pop-up-right-off-cost {
        font-size: 16px;
      }

      .offer-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .product-pop-up-right-org-cost {
          text-decoration: line-through;
          font-size: 8px;
          opacity: 85%;
        }

        .product-pop-up-right-off {
          font-size: 8px;
          font-weight: 600;
        }
      }

      .product-pop-up-right-freeDelivery {
        font-size: 8px;
      }

      .product-pop-up-right-hot-deal {
        font-size: 8px;
        background: yellowgreen;
        color: #000;
        font-weight: 600;
        text-align: center;
        margin-top: 5px;
        width: max-content;
        padding: 0 5px;
      }
    }

    .product-pop-up-right-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .product-pop-up-right-bottom-goto {
        font-size: 8px;
        background: yellowgreen;
        color: #000;
        font-weight: 800;
        text-align: center;
        margin-top: 5px;
        width: max-content;
        padding: 0.5rem;
        border-radius: 1px;
        height: 10px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;

        &:hover {
          background: transparent;
          color: yellowgreen;
          border: 1px solid yellowgreen;
        }

        .product-pop-up-right-bottom-goto-icon {
          width: 14px;
        }
      }
    }
  }
}