@import '../../styles/Responsive.scss';




.product {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 10px;




  .products {
    flex-basis: 75%;
    background: #303030;
    padding: 20px;
    height: max-content;
    color: yellowgreen;
    letter-spacing: 1px;

    @include sm {
      flex-basis: 100%;
    }


    .products-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .products-top-left {
        display: flex;
        align-items: center;

        .products-top-left-name {
          font-size: 12px;
          letter-spacing: 1.2px;

          @include sm {
            font-size: 20px;
          }
        }
      }

      .products-top-right {
        cursor: pointer;
        display: flex;
        align-content: center;
        font-size: 8px;

        .products-top-right {
          display: flex;
          align-items: center;
          color: yellowgreen;
        }

        .products-top-right-icon {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: yellowgreen;

        }
      }
    }

    .products-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;

      .product-bottom-containers {

        .products-bottom-container {
          width: 110px;
          height: 110px;
          display: flex;
          align-items: start;
          justify-content: space-between;

          @include sm {
            width: 350px;
            height: 200px;
          }

          .products-bottom-left {
            overflow: hidden;
            flex-basis: 25%;
            background: #000;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(42, 41, 41, 0.1575498575498576) 35%, rgba(88, 87, 87, 0.8547008547008547) 62%, rgba(176, 176, 176, 0.3774928774928775) 100%);

            .products-bottom-left-name {
              position: relative;
              font-size: 12px;
              rotate: 270deg;
              top: 65%;

              @include sm {
                font-size: 24px;
              }
            }
          }

          .products-bottom-right {
            flex-basis: 75%;
            background: #444;
            width: 100px;
            height: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            .products-bottom-right-img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }

  .menu {
    color: yellowgreen;
    letter-spacing: 1px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    background: #303030;
    padding: 5px 10px;
    margin-right: 10px;
    gap: 30px;

    @include sm {
      display: none;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      cursor: pointer;

      li {
        font-size: 12px;
        text-decoration: none;
        list-style: none;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
  }
}