.home-nav-drop-down-menu {
  width: max-content;
  height: max-content;
  background: yellowgreen;
  color: #000;
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 2px;
  border-radius: 5px;

  .home-nav-drop-menu-list {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 3px 3px;
    border-radius: 5px;

    &:hover {
      background: #000;
      color: #fff;
    }

    .home-nav-drop-menu-icon {
      font-size: 18px;
      display: flex;
    }

    .home-nav-drop-menu-icon-name {
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}
