@import '../../styles/Responsive.scss';

.ProdactRight {
  background: #333;
  width: 100%;
  padding: 20px;
  color: #999;

  .ProdactRight-top {
    width: 100%;

    .ProdactRight-top-container-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ProdactRight-top-container-1-text {
        font-size: 20px;
        letter-spacing: 1px;

        @include sm {
          font-size: 12px;
        }
      }

      .ProdactRight-top-container-1-shareIcon {
        cursor: pointer;
        background-color: yellowgreen;
        border-radius: 50%;
        padding: 3px;
        height: 25px;
        width: 25px;
        color: #000;


      }
    }

    .ProdactRight-top-container-2 {
      display: flex;
      align-items: center;
      gap: 20px;

      @include sm {
        gap: 5px;
        margin: 10px 0;
      }

      .ProdactRight-top-container-2-stars {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding: 2px 5px;
        border-radius: 3px;
        background: yellowgreen;
        width: max-content;
        height: 20px;
        color: #000;
        font-weight: 600;

        @include sm {
          font-size: 12px;
          padding: 2px;
        }

        .ProdactRight-top-container-2-star-icon {
          font-size: 18px;

          @include sm {
            font-size: 12px;
          }
        }

      }

      .ProdactRight-top-container-2-reviews {
        font-weight: 600;
        text-transform: capitalize;
        color: #555;
      }
    }

    .ProdactRight-top-container-3 {
      display: flex;
      align-items: center;
      gap: 20px;

      @include sm {
        margin: 10px 0;
      }

      .ProdactRight-top-container-3-orgPri {
        font-size: 24px;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1px;

        @include sm {
          font-size: 18px;
        }
      }

      .ProdactRight-top-container-3-offPri {
        font-size: 20px;
        text-decoration: line-through;
        font-weight: 600;
        letter-spacing: 1px;

        @include sm {
          font-size: 12px;
        }

      }

      .ProdactRight-top-container-3-dis {
        font-weight: 600;
        color: greenyellowgreengreengreen;
        letter-spacing: 1px;
      }
    }

    .ProdactRight-top-container-4 {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ProdactRight-top-container-4-text {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
      }

      .ProdactRight-top-container-4-ul {
        .ProdactRight-top-container-4-li {
          display: flex;
          align-items: flex-start;
          gap: 5px;
          font-size: 10px;

          .ProdactRight-top-container-4-offIcon {
            font-size: 12px;
            color: yellowgreen;
          }
        }
      }
    }
  }

  .ProdactRight-center {
    margin-top: 20px;
    border: 1px solid #444;


    .ProdactRight-center-text {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: capitalize;
      padding: 5px 3px;
      border-bottom: 1px solid #444;

    }

    .ProdactRight-center-container {
      width: 100%;
      margin-top: 10px;
      padding: 5px;



      .ProdactRight-center-container-section {
        display: flex;
        padding: 5px 0;

        @include sm {
          display: flex;
          gap: 25%;
        }




        .ProdactRight-center-container-section-leftText {
          text-transform: capitalize;
          width: 20%;
          font-size: 12px;

          @include sm {
            font-size: 10px;
          }
        }

        .ProdactRight-center-container-section-rightText {
          width: 80%;
          font-size: 12px;

          @include sm {
            font-size: 10px;
          }

        }
      }
    }
  }

  .ProdactRight-bottom {
    width: 100%;
    margin-top: 30px;



    .ProdactRight-bottom-container-1 {
      display: flex;
      gap: 50px;
      align-items: center;
      margin: 20px 0;

      .ProdactRight-bottom-container-1-left {
        font-size: 12px;
        text-transform: capitalize;
      }

      .ProdactRight-bottom-container-1-right {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        font-size: 12px;

        .ProdactRight-bottom-container-1-right-place-icon {
          color: yellowgreen;
          font-size: 12px;
        }
      }
    }

    .ProdactRight-bottom-container-2 {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      font-size: 12px;
      text-transform: capitalize;
      width: 100%;
      margin: 20px 0;

      @include sm {
        display: flex;
        width: 100%;
        flex-direction: column;
      }


      .ProdactRight-bottom-container-2-left_Container {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        width: 50%;

        @include sm {
          font-size: 8px;
          width: 100%;
        }

        .ProdactRight-bottom-container-2-left_Container-left {
          @include sm {
            width: 20%;
          }
        }

        .ProdactRight-bottom-container-2-left_Container-right {
          @include sm {
            width: 80%;
          }
        }

      }

      .ProdactRight-bottom-container-2-right_Container {
        width: 50%;
        display: flex;
        align-items: flex-start;
        gap: 50px;

        @include sm {
          font-size: 8px;
          width: 100%;
        }

        .ProdactRight-bottom-container-2-right_Container-left {
          @include sm {
            width: 20%;
          }
        }

        .ProdactRight-bottom-container-2-right_Container-right {
          @include sm {
            width: 80%;
          }
        }
      }
    }

    .ProdactRight-bottom-container-3 {
      display: flex;
      align-items: flex-start;
      gap: 50px;
      font-size: 12px;

      @include sm {
        font-size: 8px;
        width: 100%;
      }

      .ProdactRight-bottom-container-3-left {
        @include sm {
          width: 20%;

        }
      }

      .ProdactRight-bottom-container-3-right {
        @include sm {
          width: 80%;
        }
      }
    }
  }
}