@import '../../styles/Responsive.scss';


.new-container {
  background: #303030;
  color: #fff;
  letter-spacing: 1.5px;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;

  .new-item-list {
    background: #444;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

    .new-item-top {
      padding: 1rem;
      color: yellowgreen;
      font-size: 12px;
    }

    .new-item-center {
      cursor: pointer;

      .new-item-center-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 2rem;
        background: #222;
        height: 120px;
        border-bottom: 2px solid #666;
        position: relative;



        .new-item-center-top-left {
          .new-item-center-left-img {
            cursor: pointer;
            width: 120px;
          }
        }

        .new-item-center-top-right {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .new-item-center-top-right-name {
            font-size: 12px;
            cursor: pointer;

            &:hover {
              color: yellowgreen;
            }
          }

          .new-item-center-top-right-name2 {
            font-size: 8px;
          }
        }
      }

      .new-item-center-bottom {
        border-bottom: 1.5px solid #333;
      }
    }

    .new-item-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #444;
      padding: 0.5rem;
      font-size: 12px;
      transition: background 0.3s;
      cursor: pointer;
      color: #fff;

      &:hover {
        background: yellowgreen;
        color: #000;
      }
    }
  }
}