@import '../../styles/Responsive.scss';


.footer {
  width: 100%;
  height: max-content;
  background: #000;
  color: #fff;
  padding: 2rem 10rem;

  @include sm {
    padding: 10px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    @include sm {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }

    .fotter-top-items {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .footer-top-name {
        font-weight: 600;
        font-size: 10px;
        color: #fff5;
        text-transform: uppercase;
      }

      .footer-top-sub-name {
        font-size: 10px;
        cursor: pointer;
        text-transform: capitalize;

        &:hover {
          color: yellowgreen;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;

    @include sm {
      display: block;
      align-items: center;
      justify-content: center;
    }

    .footer-bottom-left {
      flex: 9;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      .footer-bottom-left-icon {
        color: yellowgreen;
        font-size: 14px;
        font-weight: 600;
      }

      .footer-bottom-left-icon-name {
        text-transform: capitalize;
        font-size: 10px;

        &:hover {
          color: yellowgreen;
        }
      }
    }

    .footer-bottom-right {
      flex: 1;
    }
  }
}